.loader {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  opacity: 0.86;
  background: #fff;
}

.loader .dots {
  top: 35%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.loader .dots span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #1941DF;
  margin: 35px 5px;
  opacity: 0;
}

.loader .dots span:nth-child(1) {
  animation: opacitychange 1s ease-in-out infinite;
}

.loader .dots span:nth-child(2) {
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader .dots span:nth-child(3) {
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.sidebar {
  background: #F7F7FA;
  border: 0;
  box-shadow: none;
}

.navbar .navbar-brand-wrapper {
  border-right: none;
}

.navbar .navbar-menu-wrapper [data-toggle=offcanvas],
.navbar .navbar-menu-wrapper [data-toggle=minimize] {
  display: none;
}

.navbar .navbar-menu-wrapper,
.navbar .navbar-brand-wrapper {
  border-bottom: 0;
}

.navbar .navbar-brand-wrapper .brand-logo-mini img {
  width: 90px;
  padding-left: 24px;
}

/* .navbar .navbar-brand-wrapper button.navbar-toggler{ display: none; } */
.main-panel .card {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border: 0;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
}

@media (max-width: 991px) {
  .navbar .navbar-menu-wrapper {
    width: calc(100% - 110px);
  }

  .navbar .navbar-brand-wrapper {
    width: 110px;
  }

  .dash-menu .card i.text-info {
    margin-right: 4px !important;
  }

  .card .card-description,
.card .card-title {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .content-wrapper {
    padding: 8px;
  }

  .navbar .navbar-brand-wrapper .brand-logo-mini img {
    padding-left: 8px;
    width: 50px;
  }
}
@media (max-width: 400px) {
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile {
    display: none !important;
  }
}
.main-panel2 .card {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  border: 0;
}

.main-panel2 {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

table a i {
  color: #9b9b9b;
  font-size: 16px;
  margin-left: 8px;
  float: right;
}

table a i.remove-user:before,
table a i.drag-user:before {
  color: #9b9b9b !important;
}

/* table a i.remove-user {
  color: #ff0079;
} */
.name b {
  line-height: 30px;
}

.object-img {
  width: 32px;
  height: 32px;
  float: left;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 19px;
}

.object-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

.form-cont {
  display: block;
}

/* .mloader{display: none;} */

/*# sourceMappingURL=styles.css.map */
