#contents {
  margin-top: 82px;
}

footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

@media (max-width: 500px) {
  .toast {
    width: auto;
  }
}
.iload {
  opacity: 0.3;
  transition: all 2s;
}

.accordion.accordion-solid-header .card .card-header a[aria-expanded=true]:before,
.accordion.accordion-solid-header .card .card-header a[aria-expanded=false]:before {
  content: "";
}

.sections.accordion-solid-header .card .card-header a[aria-expanded=true] {
  color: #000E35;
  background: #fff;
}

.sections.accordion-solid-header .card .card-header a {
  display: inline-block;
  padding: 12px 0px 12px 0px;
  font-weight: 700;
  font-size: 14px;
  width: 75%;
  text-decoration: none;
}

.sections .card.br {
  margin-bottom: 8px;
}

.accordion .row-actions-card {
  display: inline-block;
  float: right;
  padding: 12px;
}

.accordion .row-actions-card i {
  margin-left: 2px;
  cursor: pointer;
}

.accordion .row-actions-card i.mdi:before {
  color: #666;
}

.accordion.accordion-solid-header .card .card-header a:before {
  right: 24px;
}

.accordion.accordion-solid-header .card .card-header a[aria-expanded=true]:before {
  color: #000E35;
  right: 24px;
}

/* .accordion .acc {
  font-size: 12px !important;
  margin: -24px 4px 16px 16px;
  color: #1941DF;
  display: inline-block;
  cursor: pointer;
} */
.accordion .acc2 {
  color: #1941DF;
  display: inline-block;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 50px;
  font-size: 22px !important;
  padding: 4px;
}

.accordion .card .tname {
  font-size: 12px;
  margin-top: 4px;
  color: #666;
}

.dash-menu .accordion .card.br {
  border-radius: 4px;
}

/* 
  .accordion .acc:hover {
    text-decoration: underline;
  } */
button.add-layout {
  float: right;
}

.modal-header {
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

#layouts_body h3 {
  font-weight: 700;
}

.mloader {
  display: block;
}

.br-theme-css-stars {
  display: inline-block;
}

.br-theme-css-stars .br-widget {
  height: auto;
  margin-left: 16px;
}

.br-theme-css-stars .br-widget a.br-selected:after {
  color: #f5da02;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#page_template {
  font-size: 12px;
  margin-top: 4px;
  color: #666;
}

.csection {
  font-size: 16px;
  margin: 8px 0 32px 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline !important;
}

.csection:hover {
  color: #1941DF !important;
}

/* context menu */
.context-menu {
  z-index: 10;
  padding: 12px 0;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 0px;
  font-size: 16px;
  border-bottom: 1px solid #eeeeee;
}

.context-menu__item:last-child {
  border-bottom: 0;
}

.context-menu__item i {
  float: right;
  font-size: 18px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 8px 4px;
  text-decoration: none;
}

.context-menu__link i {
  color: #aaaaaa;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #aaaaaa;
  text-decoration: none;
}

.context-menu__link:hover i {
  color: #fff;
}

.loader {
  display: block;
}
